<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      throwConfigExceptions="true"
      internalLogFile="${basedir}/logs/nlog-internal.log"
      internalLogLevel="Warn"  >

	<targets async="true">
		<!-- Replace Console with Debug for Visual Studio Output Window -->
		<target name="debug"
				xsi:type="Debug"
				layout="${longdate} | ${level:uppercase=true} | ${message} | ${callsite:className=true:includeNamespace=false:fileName=false:includeSourcePath=false:methodName=true} | Line: ${callsite-linenumber}" />
		<target name="console"
			xsi:type="Console"
			layout="${longdate} | ${level:uppercase=true} | ${message} | ${callsite:className=true:includeNamespace=false:fileName=false:includeSourcePath=false:methodName=true} | Line: ${callsite-linenumber}" />

		<target name="file"
				xsi:type="File"
				fileName="${basedir}/logs/log-${shortdate}.log"
				archiveFileName="${basedir}/logs/archives/log.{#}.log"
				archiveEvery="Day"
				archiveNumbering="Rolling"
				maxArchiveFiles="30"
				layout="${longdate} | ${level:uppercase=true} | ${message} | ${callsite:className=true:includeNamespace=false:fileName=false:includeSourcePath=false:methodName=true} | Line: ${callsite-linenumber}" />
	</targets>

	<rules>
		<!-- Update target name to "debug" -->
		<logger name="Microsoft.Extensions.Http.*" minlevel="Warning" writeTo="debug,file,console" final="true"/>
		<logger name="LogHelper.*" minlevel="Warning" writeTo="debug,file,console" final="true"/>
		<logger name="Log.*" minlevel="Warning" writeTo="debug,file,console" final="true"/>
		<logger name="*" minlevel="Debug" writeTo="debug" />
		<logger name="*" minlevel="Debug" writeTo="console" />
		<logger name="*" minlevel="Debug" writeTo="file" />
	
	</rules>
</nlog>